
// Mark Pro fonts

@font-face {
    font-family: 'FFMarkWebProRegular';
    src: url('/assets/fonts/FFMarkWebProRegular.eot');
    src: url('/assets/fonts/FFMarkWebProRegular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FFMarkWebProRegular.woff2') format('woff2'),
        url('/assets/fonts/FFMarkWebProRegular.woff') format('woff'),
        url('/assets/fonts/FFMarkWebProRegular.ttf')  format('truetype'),
}

@font-face {
    font-family: 'FFMarkWebProItalic';
    src: url('/assets/fonts/FFMarkWebProItalic.eot');
    src: url('/assets/fonts/FFMarkWebProItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FFMarkWebProItalic.woff2') format('woff2'),
        url('/assets/fonts/FFMarkWebProItalic.woff') format('woff'),
        url('/assets/fonts/FFMarkWebProItalic.ttf')  format('truetype'),
}

@font-face {font-family: 'FFMarkWebProMedium';
    src: url('/assets/fonts/FFMarkWebProMedium.eot');
    src: url('/assets/fonts/FFMarkWebProMedium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FFMarkWebProMedium.woff2') format('woff2'),
        url('/assets/fonts/FFMarkWebProMedium.woff') format('woff'),
        url('/assets/fonts/FFMarkWebProMedium.ttf')  format('truetype'),
}

$text-regular: 'FFMarkWebProRegular', Helvetica, sans-serif;
$text-medium: 'FFMarkWebProMedium', Helvetica, sans-serif;
$text-italic: 'FFMarkWebProItalic', Helvetica, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	font-weight: normal;
	color: $dark-grey;
	line-height: 1.25;
	font-family: $text-regular;
	margin-block-start: 0;
    margin-block-end: 0;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		margin-bottom: $spacing-small-mobile;	
	}

	@media screen and (max-width: $smartphone) {
		margin-bottom: $spacing-small-mobile;		
	}
}

h1 {
	font-size: 3.75rem;
	text-transform: capitalize;
	margin-left: -.3rem;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 2.5rem;	
		margin-left: -0.1rem;		
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.875rem;	
		margin-left: 0.01rem;		
	}	
}

h2 {
	font-size: 2.5rem;
	font-family: $text-medium;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.875rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.625rem;			
	}	
}

h3 {
	font-size: 1.875rem;
	color: $medium-grey;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.625rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.5rem;			
	}	
}

h4 {
	font-size: 1.75rem;
	font-family: $text-medium;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.5rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.375rem;			
	}	
}

h5 {
	font-size: 1.375rem;
	font-family: $text-medium;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.375rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.25rem;			
	}	
}

h6 {
	font-size: 1.25rem;
	margin-bottom: $spacing-small;

	@media screen and (max-width: $tablet-portrait) {
		font-size: 1.25rem;			
	}	

	@media screen and (max-width: $smartphone) {
		font-size: 1.125rem;			
	}	
}

p {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: $spacing-small; 
}

label {
    font-family: $text-regular;
    order: 1;
    position: relative;
    color: #666;
    font-size: 0.875rem;
    font-weight: 200;
    display: block;
    margin-bottom: 5px;
    max-width: 390px;
    width: 100%;
}
input {
    font-family: $text-regular;
}
textarea {
    font-family: $text-regular;
}

* {
    -webkit-font-smoothing: antialiased;
}