/* Media queries */

$breakpoint-not-small: 'screen and (min-width: 30rem)' !default;
$breakpoint-medium: 'screen and (min-width: 30rem) and (max-width: 60rem)' !default;
$breakpoint-large: 'screen and (min-width: 60rem)' !default;
$breakpoint-extra-large: 'screen and (min-width: 79.75rem)' !default;

/* Responsive */

$desktop-4k : 2560px;
$desktop-large : 1440px;
$desktop-medium : 1366px;
$desktop-small : 1280px;
$tablet-landscape : 1024px;
$tablet-portrait : 768px;
$smartphone : 640px;
$small-smartphone : 320px;

/* Usage

@media screen and (max-width: $tablet-landscape) {
	...
}

*/