<!-- Top nav bar -->
<nav> 

  <svg class="logo" width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Landing-page-+-Nav" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Landing-Page-_-FINAL" transform="translate(-101.000000, -50.000000)" fill-rule="nonzero">
            <g id="NAVIGATION" transform="translate(0.000000, -3.000000)">
                <g id="Nedbank-Logo-Copy" transform="translate(101.000000, 53.000000)">
                    <polygon id="Fill-12" fill="#FFFFFF" points="25.139984 42.611336 13.9838096 50 0 40.9668969 0 9.03230927 13.9838096 0 25.139984 7.38866396 36.3131751 0 50 9.0505676 50 40.9494324 36.3131751 50"></polygon>
                    <path d="M14.3932863,32.2980623 L23.3756438,38.3566122 L14.3932863,44.4155617 L14.3932863,32.2980623 Z M48.0769231,10.2664627 L36.8491799,2.83018868 L25.6210295,10.2664627 L14.3932862,2.83018868 L2.88461539,10.2664627 L2.88461539,39.7339368 L14.3932862,47.1698114 L25.6210295,39.7339368 L36.8491799,47.1698114 L48.0769231,39.7339368 L48.0769231,10.2664627 Z M36.8491799,20.4557879 L36.8491799,5.58443821 L45.5510168,11.3681625 L45.5510168,38.0817865 L5.13040831,11.6429883 L14.3932862,5.58443821 L36.8491799,20.4557879 Z" id="Fill-14" fill="#006341"></path>
                </g>
            </g>
        </g>
    </g>
  </svg> 

  <!-- Top nav counter -->
  <h6>Step {{currentMainStep}} of {{totalMainSteps}}</h6>
  <!-- Top nav counter End -->

  <!-- Right modal actions -->
  <div class="actions"> 
    <ui-hyperlink id="save" linkText="Save" linkUrl="#" iconName="nlsg-icon-save" (click)="launchModal($event)"></ui-hyperlink>
    <ui-hyperlink id="cancel" linkText="Cancel application" linkUrl="#" iconName="nlsg-icon-close" (click)="launchModal($event)"></ui-hyperlink>
  </div>
  <!-- Right modal actions End -->

  <div class="mobile-menu" (click)="mobileNav()">
    <i class="nlsg-c-icon nlsg-icon-steps nlsg-icon--size-24"></i>
  </div>
</nav>
<!-- Top nav bar End -->

<!-- Progress bar top -->
<div class="progress-bar-top">
  <div class="progress"></div>    
</div>

<div class="stepper-wrapper">
  <aside class="sidebar" [ngClass]="{'mobileNavShown': mobileNavOpen}">
      <div class="mobile-aside-wrapper">
        <!-- Progress bar side -->
        <div class="progress-bar progress-bar-side">
          <div class="progress"></div>    
        </div>
        <!-- Progress bar End -->
    
        <!-- Sidebar links -->
        <ul>
          <ng-container *ngFor="let step of allSteps;  let i = index, let first = first"> 
            <ng-container *ngIf="step.mainStep == true || step.dropdown == true">
              <li id="{{step.uniqueId}}" class="sidebar-link" value="{{step.order}}" [ngClass]="{'main-level' : step.mainStep == true}" *ngIf="step.mainStep || step.mainStepDisabled == false">
                <span *ngIf="step.mainStep" [ngClass]="{'activeClass' : step.active && !step.disabled, 'disabledStep' : step.disabled}" (click)="getStepsSideNav(i, $event)">{{step.stepName}}</span>
                <a class="dropdown-arrow" (click)="getStepsSideNav(i, $event)" *ngIf="step.mainStep" [ngClass]="{'activeClass' : step.active && !step.disabled, 'disabledStep' : step.disabled}">
                  <i class="nlsg-icon" [ngClass]="{'nlsg-icon-arrow-up' : first, 'nlsg-icon-arrow-down' : !first}"></i>
                </a>
                  <ul *ngIf="!step.mainStep && step.mainStepDisabled == false && step.dropdown === true">
                    <li class="sidebar-link" [ngClass]="{'sub-level' : step.subStepLevel1 == true}">
                        <span *ngIf="step.subStepLevel1" [ngClass]="{'activeClass' : step.active && !step.disabled, 'disabledStep' : step.disabled}" (click)="getStepsSideNav(i, $event)">{{step.stepName}}</span>
                        <ul>
                          <li class="sidebar-link sub-sub-level" *ngIf="!step.mainStep && !step.subStepLevel1">
                              <span *ngIf="step.subStepLevel2" [ngClass]="{'activeClass' : step.active && !step.disabled, 'disabledStep' : step.disabled}" (click)="getStepsSideNav(i, $event)">- {{step.stepName}}</span>
                          </li>
                        </ul>
                    </li>
                  </ul>
              </li>
            </ng-container>
          </ng-container>
        </ul>
        <!-- Sidebar links End -->
      </div>


      <!-- Right modal actions -->
      <div class="actions-mobile"> 
        <ui-hyperlink id="save" linkText="Save" linkUrl="#" iconName="nlsg-icon-save" (click)="launchModal($event)"></ui-hyperlink>
        <ui-hyperlink id="cancel" linkText="Cancel application" linkUrl="#" iconName="nlsg-icon-close" (click)="launchModal($event)"></ui-hyperlink>
      </div>
      <!-- Right modal actions End -->
  </aside>

  <!-- Stepper content -->
  <div class="stepper-content">
    <ng-template step-host>
    </ng-template>
  </div>
  <!-- Stepper content End -->
</div>

<!-- Stepper next button -->
<ui-button 
  buttonText="{{stepButtonText}}" 
  [disabled]="allSteps[currentStepIndex + 1].disabled && allSteps[currentStepIndex].active"
  (click)="getSteps()">
</ui-button>
<!-- Stepper next button End -->



<!-- Equating the inner 'isShowModal' var with current 'show' value -->
<!-- Update value from inside modal on closing -->
<ui-modal 
[isGetSave]="Save"
(getSave)="Save = $event" 
[hasIllustration]="false" 
modalId="Save"
modalHeading="Save your application" 
modalText="You should save your application for later." 
buttonText="Save" 
secondaryButtonText="Cancel"
></ui-modal>

<ui-modal 
[isGetCancel]="Cancel"
(getCancel)="Cancel = $event" 
[hasIllustration]="false"
modalId="Cancel"
modalHeading="Cancel your application" 
modalText="You can cancel your application for now." 
buttonText="Cancel" 
secondaryButtonText="Continue"
></ui-modal>