<h2>{{ data.stepName }}</h2>

<form action="">

    <ui-input
    arialabel="Spoken label"
    type="text"
    name="inputName"
    [hasLabel]="true" 
    labelText="Default label" 
    helperText="Default helper text"
  ></ui-input>

  <ui-input
  arialabel="Spoken label"
  type="text"
  name="inputName"
  [hasLabel]="true" 
  labelText="Default label" 
  helperText="Default helper text"
></ui-input>

<ui-input
arialabel="Spoken label"
type="text"
name="inputName"
[hasLabel]="true" 
labelText="Default label" 
helperText="Default helper text"
></ui-input>


</form>
